@media screen and (max-width: 768px) {
  .image_section {
    min-width: 312px;
    max-width: 100%;
    width: auto;
  }

  .modal-header {
    padding: 0.5rem;
  }

  .modal-body {
    padding: 0.5rem;
  }

  .text_section {
    width: 100%;
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 375px) {
  .image_section {
    min-width: 357px;
    max-width: 100%;
    width: auto;
  }
}

@media screen and (min-width: 769px) {
  .image_section {
    min-width: 500px;
    max-width: 100%;
    width: auto;
  }

}