{% extends 'base.html' %}
{% load make_link %}


{% block title %}
  {{ user_info.username }}
{% endblock %}


{% block body %}

<div class="row align-items-center mx-5 py-3">
  <div class="col-md-3 col-sm-1">
    <img src="{{ user_info.gravatar_url}}" class="rounded-circle d-inine">
  </div>
  <div class="col-md-9 d-flex-wrap">
    <div class="py-3">
      <p class="lead d-inline mx-2" style="font-size: 1.8rem">{{ user_info.username }}</p>
      <a href="{% url 'accounts:update' %}" class="d-inline btn btn-outline-dark btn-sm mx-2">Edit Profile</a>
      <i class="fas fa-cog mx-2"></i>
    </div>
    <div>
      <strong class="d-inline px-2">{{ user_info.post_set.all | length }}</strong><p class="d-inline mr-4">posts</p>
      <a href="" class="d-inline text-decoration-none text-reset" data-toggle="modal" data-target="#followerModal">
        <strong class="d-inline px-1">{{ user_info.followers.all | length }}</strong>
        <p class="d-inline mr-4">followers</p>
      </a>
      <a href="" class="d-inline text-decoration-none text-reset" data-toggle="modal" data-target="#followingModal">
        <strong class="d-inline px-1">{{ user_info.followings.all | length }}</strong>
        <p class="d-inline mr-4">following</p>
      </a>
    </div>
  </div>
</div>
<hr class="py-2">


{% include '_followermodal.html' %}
{% include '_followingmodal.html' %}

<div class="row">
  {% for post in user_info.post_set.all %}
    <div class="col-sm-12 col-md-4 d-flex align-items-center justify-content-around">
      <a href="{% url 'posts:detail' post.id %}">
        <img src="{{ post.image.url }}" class="pb-3" width="100%">
      </a>
    </div>
  {% empty %}
  <div class="ml-4 py-5 justify-content-center">
    <h4>There is no post</h3>
    <h4>Upload your first post</h3>
    <a class="btn btn-primary mt-3" href="{% url 'posts:create' %}">Create Post!</a>
  </div>
  {% endfor %}
</div>

{% endblock%}