<!-- Modal -->
<div class="modal fade" id="followingModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Following</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        {% for following in user_info.followings.all %}
        <div class="d-flex justify-content-between px-2">
          <p>
            <a href="{% url 'profile' following.username %}" class="text-decoration-none text-reset">
              <img src="{{ following.gravatar_url }}" class="rounded-circle mr-2" height="30" width="30">{{ following.username }}
            </a>
          </p>
          <p>
            {% if request.user != user_info %}
              <a href="{% url 'accounts:follow' following.username %}" class="btn btn-secondary btn-sm">
                {% if request.user in user_info.followings.all %}
                  Following
                {% else %}
                  Follow
                {% endif %}
              </a>
            {% endif %}
          </p>
        </div>
        {% empty %}
          <div class="py-5">
            <h4>There is no following</h4>
            <h4>Follow your friend!</h4>
          </div>
        {% endfor %}

      </div>
    </div>
  </div>
</div>
