<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="{% url 'posts:index' %}"><strong class="text-dark font-italic">gramClone</strong></a>

  <div class="mx-auto">
    <form class="form-inline " style="width: 600px">
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1"> </span>
        </div>
        <input type="text" class="form-control font-italic" placeholder="Search" aria-label="Search" aria-describedby="basic-addon1">
      </div>
    </form>
  </div>

  <div>
    {% if user.is_authenticated %}
      <div class="ml-5 pl-5">
        <a class="navbar-brand text-secondary" href="{% url 'posts:index' %}"><i class="fas fa-home fa-lg"></i></a>
        <a class="navbar-brand text-secondary" href="{% url 'posts:create' %}"><i class="far fa-plus-square fa-lg"></i></a>
        <a class="text-secondary" href="{% url 'accounts:logout' %}"><i class="fas fa-sign-out-alt fa-lg"></i></a>
      </div>

    {% else %}
      <div class="ml-5 pl-5">
        <a class="navbar-brand text-secondary" href="{% url 'posts:index' %}"><i class="fas fa-home fa-lg"></i></a>
        <a class="text-secondary" href="{% url 'accounts:signup' %}"><i class="fas fa-user-plus fa-lg"></i></a>
        <a class="text-secondary" href="{% url 'accounts:login' %}"><i class="fas fa-sign-in-alt fa-lg"></i></a>
      </div>

    {% endif %}
  </div>
</nav>