{% load gravatar %}

<div class="sticky-top bg-white pt-1">

  <div class="container">

    <ul class="nav align-items-center justify-content-between">

      <li class="nav-item mx-4">
        <a class="navbar-brand" href="{% url 'posts:index' %}"><strong class="text-dark" style="font-size:22px">gramClone</strong></a>
      </li>

      <li class="nav-item">
        <form action="{% url 'posts:search' %}" class="form-inline">
          {% csrf_token %}
          <input class="form-control mr-sm-2" type="search" placeholder="Search by hashtag" name="search">
          <button class="btn btn-outline-dark my-2 my-sm-0" type="submit"><i class="fas fa-search"></i></button>
        </form>
      </li>

      {% if user.is_authenticated %}
      <li class="nav-item">
      <div>
        <a class="navbar-brand text-secondary mx-3" href="{% url 'posts:index' %}"><i class="fas fa-home fa-lg"></i></a>
        <a class="navbar-brand text-secondary mx-2" href="{% url 'posts:create' %}"><i class="far fa-compass fa-lg"></i></a>
        <a class="nav-link dropdown-toggle text-dark d-inline" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style='font-size:18px'>
          <img src="{{ request.user.gravatar_url }}" class="rounded-circle" height="30" width="30">
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <button class="dropdown-item"  style='font-size:16px;'><a href="{% url 'accounts:profile' user.id %}" class="text-decoration-none text-dark">Profile</a></button>
          <button class="dropdown-item"  style='font-size:16px;'><a href="{% url 'accounts:logout' %}" class="text-decoration-none text-secondary">Log-out</a></button>
        </div>
      </div>

      {% else %}
      <div>
        <a class="navbar-brand text-secondary" href="{% url 'posts:index' %}"><i class="fas fa-home fa-lg"></i></a>
        <a class="text-secondary" href="{% url 'accounts:signup' %}"><i class="fas fa-user-plus fa-lg"></i></a>
        <a class="text-secondary mx-2" href="{% url 'accounts:login' %}"><i class="fas fa-sign-in-alt fa-lg"></i></a>
      </div>

      {% endif %}
      </li>

    </ul>
  </div>
  <hr class="my-2">
</div>