{% load make_link %}
{% load bootstrap4 %}
{% load static %}


<link rel="stylesheet" href="{% static 'css/modal_position.css' %}">

<div class="modal fade bd-example-modal-lg" id="modal{{ post.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">

      <div class="row no-gutters">
        <div class="col-md-8 pl-0">
          <div>
            <img src="{{ post.image.url }}" alt="" width="500">
          </div>
        </div>

        <div class="col-md-4">
          <div class="modal-header">
            <h5 class="modal-title">
              <a href="{% url 'profile' post.user.username %}" class="text-dark text-decoration-none text-reset">
                <img src="{{ post.user.gravatar_url }}" class="rounded-circle ml-0 mr-1" height="33" width="33">
                <p class="d-inline mx-1" style="font-size: 1.1rem">{{ post.user.username }}</p>
              </a>
              {% if user != post.user %}
                {% if user in user_info.followers.all %}
                  • <a href="{% url 'accounts:follow' post.user.username %}" class="text-decoration-none text-danger mx-1" style="font-size: small;">Unfollow</a>
                {% else %}
                  • <a href="{% url 'accounts:follow' post.user.username %}" class="text-decoration-none text-primary mx-1" style="font-size: small;">Follow</a>
                {% endif %}
              {% endif %}
            </h5>

            <div class="dropdown show">
              <a class="btn shadow-none dropdown-toggle" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-ellipsis-h"></i>
              </a>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">

                <a class="dropdown-item text-danger" href="{% url 'accounts:follow' post.user.username %}">
                  {% if user != post.user %}
                    {% if user in user_info.followers.all %}
                      Unfollow
                    {% else %}
                      Follow
                    {% endif %}
                  {% endif %}
                </a>
                <a class="dropdown-item" href="{% url 'posts:detail' post.id %}">Detail</a>
                <a class="dropdown-item" href="">Cancel</a>
              </div>
            </div>
          </div>

          <div class="modal-body">
            <strong>{{ post.user }}</strong><p class="card-text d-inline ml-2">{{ post|add_link|safe }}</p>

            <div class="mt-3">
              {% for comment in post.comment_set.all %}
                <p class="m-0">
                  <a href="{% url 'profile' comment.user.username %}" class="text-dark text-decoration-none">
                    <img src="{{ comment.user.gravatar_url}}" class="rounded-circle mr-2 my-1" height="33" width="33">
                    <strong>{{ comment.user }}</strong>
                  </a>
                  : {{ comment.comment }}
                </p>
              {% empty %}
                <p class="text-secondary">첫번째 댓글을 달아주세요!</p>
              {% endfor %}
            </div>

            <hr>

            <div class="p-0">
              {% if user in post.like_users.all %}
                <a href="{% url 'posts:like' post.id %}" class="text-secondary"><i class="fas fa-heart"></i></a>
                <a href="{% url 'posts:detail' post.id %}" class="text-secondary ml-2"><i class="far fa-comment"></i></i></a>
              {% else %}
                <a href="{% url 'posts:like' post.id %}" class="text-secondary"><i class="far fa-heart"></i></a>
                <a href="{% url 'posts:detail' post.id %}" class="text-secondary ml-2"><i class="far fa-comment"></i></a>
              {% endif %}
              <p>좋아요 {{ post.like_users.count }}개</p>
              <p class="text-secondary mt-4" style="font-size: 0.7rem">{{ post.created_at | date:'m월 d일' }}</p>
            </div>

            <hr>

            <form action="{% url 'posts:comment_create' post.id %}" method='POST'>
              {% csrf_token %}
              <div class="input-group">
                <input type="text" name="comment" class="form-control border-0 rounded-0 text-secondary" placeholder="댓글달기...">
                <div class="input-group-append">
                  <button class="btn rounded-0 text-primary" type="submit">게시</button>
                </div>
              </div>
            </form>
          </div>

        </div>
      </div>

    </div>
  </div>
</div>