{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}
{% load make_link %}
{% load mathfilters %}


<link rel="stylesheet" href="{% static 'css/body_scroll.css' %}">

{% block body %}

<div class="container py-5 w-75 px-1">
    <div class="row">
        <div class="col-sm-12 col-md-8">
            <img src="{{ post.image.url }}" alt="" width="100%" class="rounded-sm">
        </div>
        <div class="d-md-none d-sm-block m-2"></div>
        <div class="col-sm-12 col-md-4 border bg-white rounded-sm">
          <div class="card-body p-2 mt-1 justify-content-between">
            <h5 class="card-title d-inline">
              <a href="{% url 'profile' post.user.username %}" class="text-dark text-decoration-none text-reset">
                <img src="{{ post.user.gravatar_url }}" class="rounded-circle border" height="33" width="33">
                <p class="d-inline ml-3" style="font-size: 1.1rem">{{ post.user.username }}</p>
              </a>
              <a href="{% url 'accounts:follow' post.user.username %}" class="text-decoration-none text-reset" style="font-size: 0.9rem">
                {% if request.user != post.user %}
                  {% if request.user not in post.user.followers.all%}
                    <span class="text-decoration-none text-primary">Follow</span>
                  {% endif %}
                {% endif %}
              </a>

              <div class="dropdown show d-inline ml-auto d-inline">
                <a class="btn shadow-none dropdown-toggle" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="fas fa-ellipsis-h"></i>
                </a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
  
                  <a class="dropdown-item" href="{% url 'accounts:follow' post.user.username %}">
                    {% if request.user != post.user %}
                      {% if request.user not in post.user.followers.all %}
                        <span class="text-decoration-none text-primary">Follow</span>
                      {% else %}
                        <span class="text-decoration-none text-danger">Unfollow</span>
                      {% endif %}
                    {% endif %}
                  </a>
                  {% if user == post.user %}
                    <a class="dropdown-item text-danger" href="{% url 'posts:delete' post.id%}">Delete</a>
                  {% endif %}
                  <a class="dropdown-item" href="{% url 'posts:detail' post.id %}">Detail</a>
                  <a class="dropdown-item" href="">Cancel</a>
                </div>
              </div>
            </h5>

            <hr>

            <div class="modal-body p-1">
              <div class="pb-3">
                <strong>{{ post.user }}</strong><p class="card-text d-inline ml-2">{{ post|add_link|safe }}</p>
              </div>
              <div class="mt-3 comment_section" id="comment-list-{{ post.id }}">
                {% for comment in post.comment_set.all %}
                  <p class="m-0">
                    <a href="{% url 'profile' comment.user.username %}" class="text-dark text-decoration-none">
                      <img src="{{ comment.user.gravatar_url}}" class="rounded-circle border mr-2 my-1" height="33" width="33">
                      <strong>{{ comment.user }}</strong>
                    </a>
                    : {{ comment.comment }}
                  </p>
                {% empty %}
                  <p class="text-secondary">첫번째 댓글을 달아주세요!</p>
                {% endfor %}
              </div>

              <hr>

              {% include 'posts/like.html' %}
              <div>
                <a href="" class="d-inline text-decoration-none text-reset" data-toggle="modal" data-target="#likersModal" class="p-0">
                  {% if post.like_users.count >= 2 %}
                    <strong id="lastLiker-{{ post.id }}">Liked by {{ post.like_users.last }}</strong>
                    <span id="likeCount-{{ post.id }}"> and {{ post.like_users.count | sub:1 }}  others</span>
                  {% elif post.like_users.count == 1 %}
                    <strong id="lastLiker-{{ post.id }}">Liked by {{ post.like_users.last }}</strong>
                    <span id="likeCount-{{ post.id }}" class="d-none"></span>
                  {% else %}
                    <span id="lastLiker-{{ post.id }}" class="d-none"></span><span id="likeCount-{{ post.id }}" class="d-none"></span>
                  {% endif %}
                </a>
                {% include '_likersmodal.html' %}
              </div>

              <p class="text-secondary mt-5" style="font-size: 0.7rem">{{ post.created_at | date:'m월 d일' }}</p>

              <hr>

              <form action="{% url 'posts:comment_create' post.id %}" method='POST' class="comment-form">
                {% csrf_token %}
                <div class="input-group">
                  <input type="text" name="comment" class="form-control border-0 rounded-0 text-secondary" placeholder="댓글달기...">
                  <div class="input-group-append">
                    <button class="btn rounded-0 text-primary" type="submit">게시</button>
                  </div>
                </div>
              </form>

            </div>
          </div>
      </div>
  </div>

<hr class="mb-5">

<a href="{% url 'profile' post.user.username %}" class="text-dark text-decoration-none text-reset">
  <strong>{{ post.user.username }}</strong>님의 게시물 더 보기
</a>

<div class="row no-gutter mt-3">
  {% for post in post.user.post_set.all %}
    <div class="col-sm-12 col-md-4 d-flex align-items-center justify-content-around">
      <a href="{% url 'posts:detail' post.id %}">
        <img src="{{ post.image.url }}" class="pb-4" width="100%">
      </a>
    </div>
  {% empty %}
  <div class="ml-4 py-5 justify-content-center">
    <h4>There is no post</h3>
  </div>
  {% endfor %}
</div>


<script>
const likeButtonList = document.querySelectorAll('.like-button')
likeButtonList.forEach(likeButton => {
  likeButton.addEventListener('click', function(event) {
    const postId = event.target.dataset.id

    {% if user.is_authenticated %}
    axios.get(`/posts/${postId}/like/`)
      .then(response => {

        if (response.data.liked === true) {
          event.target.classList.remove('far')
          event.target.classList.add('fas')
        } else {
          event.target.classList.remove('fas')
          event.target.classList.add('far')
        }

        let likeCount = response.data.count
        if (likeCount == 0){
          likeCount = document.querySelector(`#likeCount-${postId}`).classList.add('d-none')
          lastLiker = document.querySelector(`#lastLiker-${postId}`).classList.add('d-none')
        } else if (likeCount == 1){
          likeCount = document.querySelector(`#likeCount-${postId}`).classList.add('d-none')
          lastLiker = document.querySelector(`#lastLiker-${postId}`)
          lastLiker.innerText = 'Liked by ' + "{{ request.user }}"
          lastLiker.classList.remove('d-none')
        } else{
          lastLiker = document.querySelector(`#lastLiker-${postId}`)
          lastLiker.innerText = 'Liked by ' + "{{ request.user }}"
          lastLiker.classList.remove('d-none')
          likeCount = document.querySelector(`#likeCount-${postId}`)
          likeCount.classList.remove('d-none')
          likeCount.innerText = ' and ' + (response.data.count - 1) + ' others'
        }

      })
      .catch(err => {
        console.log(err)
      })
    {% else %}
      alert('로그인하지 않은 사용자는 좋아요를 누를 수 없습니다')
    {% endif %}
  })
})

const commentForms = document.querySelectorAll('.comment-form')
commentForms.forEach(function(form) {
  form.addEventListener('submit', function(event) {
    event.preventDefault()
    const data = new FormData(event.target)
    axios.post(event.target.action, data)
      .then(function(response) {
        const comment = response.data
        const commentList = document.querySelector(`#comment-list-${comment.postId}`)
        const newComment = `<strong>${ comment.username }</strong>: ${ comment.comment }`
        commentList.insertAdjacentHTML('beforeEnd', newComment)
        event.target.reset()
      })
  })
})

</script>

{% endblock %}